{% raw %}{% extends "error.html" %}
{% load i18n %}

{% block title %}{% trans "Er is een fout opgetreden" %} | {{ block.super }}{% endblock %}
{% block og_title %}{% trans "Er is een fout opgetreden" %} | {{ block.super }}{% endblock %}

{% block error_heading %}{% trans "Er is een fout opgetreden." %}{% endblock %}
{% block error_description %}{% trans "Probeer deze pagina te vernieuwen. Wij volgen deze errors automatisch. Mocht het probleem zich voor blijven doen, voelt u zich dan vrij om contact met ons op te nemen." %}{% endblock %}{% endraw %}

