{% raw %}{% load staticfiles i18n generic active svg %}
<!doctype html>
<!--[if lt IE 9]>			<html class="no-js ie lt-ie10 lt-ie9" lang="{{ LANGUAGE_CODE|slice:":2" }}"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie lt-ie10 ie9" lang="{{ LANGUAGE_CODE|slice:":2" }}"><![endif]-->
<!--[if gt IE 9]><!-->      <html class="no-js {% block html_classes %}{% endblock %}" lang="{{ LANGUAGE_CODE|slice:":2" }}"><!--<![endif]-->
<head>

	<title>{% block title %}{% trans "{% endraw %}{{ cookiecutter.project_name }}{% raw %}" %}{% endblock %}</title>

	<meta charset="utf-8">
	<meta name="description" content="{% block meta_description %}{{ object.meta_description|default:"" }}{% endblock %}">
	<meta name="author" content="{% trans "{% endraw %}{{ cookiecutter.project_name }}{% raw %}" %}">
    <link rel="web_author" href="{% url "humans.txt" %}">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="cleartype" content="on">

	{# <link rel="search" type="application/opensearchdescription+xml" title="{% trans "Zoeken" %}" href="{{ base_url }}{% url "opensearch" %}"> #}

    <meta property="og:locale" content="{{ LANGUAGE_CODE|replace:"-,_" }}">
    <meta property="og:site_name" content="{% trans "{% endraw %}{{ cookiecutter.project_name }}{% raw %}" %}">

    <meta property="og:title" content="{% block og_title %}{% trans "{% endraw %}{{ cookiecutter.project_name }}{% raw %}" %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{{ base_url }}{{ request.get_full_path }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ object.meta_description|default:"" }}{% endblock %}">
    {# <meta property="og:image" content="{% block og_image %}{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/images/logo.png' %}{% endblock %}"> #}

	<!-- Icons -->
    {# <link rel="apple-touch-icon" sizes="57x57" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-57x57.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="60x60" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-60x60.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="72x72" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-72x72.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="76x76" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-76x76.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="114x114" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-114x114.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="120x120" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-120x120.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="144x144" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-144x144.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="152x152" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-152x152.png' %}"> #}
    {# <link rel="apple-touch-icon" sizes="180x180" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/apple-touch-icon-180x180.png' %}"> #}
    {# <link rel="icon" type="image/png" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/favicon-32x32.png' %}" sizes="32x32"> #}
    {# <link rel="icon" type="image/png" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/android-chrome-192x192.png' %}" sizes="192x192"> #}
    {# <link rel="icon" type="image/png" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/favicon-96x96.png' %}" sizes="96x96"> #}
    {# <link rel="icon" type="image/png" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/favicon-16x16.png' %}" sizes="16x16"> #}
    {# <link rel="icon" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/favicon.ico' %}" type="image/x-icon" /> #}
    {# <link rel="shortcut icon" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/favicon-32x32.png' %}" type="image/x-icon" /> #}
    {# <link rel="manifest" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/manifest.json' %}"> #}
    {# <link rel="mask-icon" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/safari-pinned-tab.svg' %}" color="#c63d0f"> #}
    {# <meta name="msapplication-TileColor" content="#c63d0f"> #}
    {# <meta name="msapplication-TileImage" content="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/favicons/mstile-144x144.png' %}"> #}
    {# <meta name="theme-color" content="#c63d0f"> #}

	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<!-- For all browsers -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,300,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/styles/all.css' %}">

	<!--[if lt IE 9]>
    <link rel="stylesheet" href="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/styles/ie.css' %}">
    <script src="{% static '{% endraw %}{{ cookiecutter.short_name }}{% raw %}/dist/scripts/ie.js' %}"></script>
	<![endif]-->

	{% if not debug %}
	<script>
        {# TODO insert Google Analytics here #}
	</script>
	{% endif %}

	{% block head_addition %}{% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %}">

    <div class="site-wrapper{% block site-wrapper_classes %}{% endblock %}">

        {% block header %}
            <header id="masthead" class="site-masthead{% block site-masthead_classes %}{% endblock %}" role="banner">

            </header>
        {% endblock %}

        <section class="content-wrapper{% block content-wrapper_classes %}{% endblock %}">
			<div class="content-holder">
				{% block content %}{% endblock %}
			</div>
		</section>

    </div>

{% if debug %}<script src="//{{ domain_no_port }}:35728/livereload.js"></script>{% endif %}

</body>
</html>{% endraw %}
